Repository newrelic/developer-website, pull requests merged in 2020-08, with the labels that each got.

#495 Rest of CLI Pages for Review
  src/markdown-pages/nr1-cli/nr1-catalog.mdx
  src/markdown-pages/nr1-cli/nr1-cli-revised.mdx
  src/markdown-pages/nr1-cli/nr1-common.mdx
  src/markdown-pages/nr1-cli/nr1-config.mdx
  src/markdown-pages/nr1-cli/nr1-nerdpack.mdx
  src/markdown-pages/nr1-cli/nr1-plugins.mdx
  src/markdown-pages/nr1-cli/nr1-subscription.mdx
Labels: documentation, question, work in progress

#522 Related resources
  STYLE_GUIDE.md
  package-lock.json
  package.json
  src/components/PageLayout/PageLayout.js
  src/components/PageLayout/RelatedContent.js
  src/components/RelatedContentModules/Contribute.js
  src/components/RelatedContentModules/PageUpdated.js
  src/components/RelatedContentModules/Resources.js
  src/components/RelatedContentModules/Section.js
  src/components/RelatedContentModules/Title.js
  src/components/RelatedContentModules/index.js
  src/markdown-pages/collect-data/add-custom-attributes.mdx
  src/markdown-pages/collect-data/get-started-nerdgraph-api-explorer.mdx
  src/markdown-pages/explore-docs/nr1-cli.mdx
  src/templates/GuideTemplate.js
Labels: enhancement

#526 fixed link ref to sidenav.json
  CONTRIBUTING.md
Labels: documentation

#537 Fix broken links on subscription commands
  src/markdown-pages/explore-docs/nr1-cli.mdx
Labels: documentation

#543 Upgrade SDK shown in docs
  src/components/ReferencePreview.js
  src/utils/sdk.js
Labels: enhancement

#549 Use tagging to drive related content
  src/components/RelatedContentModules/Swiftype.js
  src/components/relatedQueries.js
Labels: research

#563 Navigation improvements
  src/components/HamburgerMenu.js
  src/components/HamburgerMenu.module.scss
  src/components/MobileHeader.js
  src/components/MobileHeader.module.scss
  src/components/Navigation.js
  src/components/Navigation.module.scss
  src/components/NavigationItems.js
  src/components/NavigationItems.module.scss
  src/components/Sidebar.js
  src/components/Sidebar.module.scss
  src/layouts/MainLayout.js
Labels: enhancement, work in progress

#571 Remove empty related info section on a guide
  src/markdown-pages/build-apps/howto-use-nrone-table-components.mdx
Labels: documentation

#578 Reduce font size on resources links
  src/components/RelatedContentModules/Resources.js
Labels: enhancement

#546 Dev docs sweep
  src/markdown-pages/automate-workflows/5-mins-tag-resources.mdx
  src/markdown-pages/automate-workflows/get-started-kubernetes.mdx
  src/markdown-pages/automate-workflows/get-started-terraform.mdx
  src/markdown-pages/build-apps/add-nerdgraphquery-guide.mdx
  src/markdown-pages/build-apps/add-query-mutate-data-NerdStorage.mdx
  src/markdown-pages/build-apps/add-time-picker-guide.mdx
  src/markdown-pages/build-apps/build-hello-world-app.mdx
  src/markdown-pages/build-apps/howto-use-nrone-table-components.mdx
  src/markdown-pages/build-apps/map-pageviews-by-region.mdx
  src/markdown-pages/build-apps/publish-deploy.mdx
  src/markdown-pages/collect-data/collect-data-from-any-source.mdx
  src/markdown-pages/collect-data/get-started-nerdgraph-api-explorer.mdx
  src/markdown-pages/collect-data/index.mdx
  src/markdown-pages/collect-data/query-data-nrql.mdx
  src/markdown-pages/explore-docs/intro-to-sdk.mdx
  src/markdown-pages/explore-docs/nerdpack-file-structure.mdx
  src/markdown-pages/explore-docs/nerdstorage.mdx
  src/markdown-pages/explore-docs/newrelic-CLI.mdx
  src/markdown-pages/explore-docs/nr1-catalog.mdx
  src/markdown-pages/explore-docs/nr1-cli.mdx
  src/markdown-pages/explore-docs/nr1-common.mdx
  src/markdown-pages/explore-docs/nr1-plugins.mdx
  src/markdown-pages/explore-docs/query-and-store-data.mdx
  src/markdown-pages/terms.mdx
Labels: documentation

#594 Source related resource content from Swiftype
  gatsby-config.js
  package-lock.json
  package.json
  plugins/gatsby-source-swiftype/gatsby-node.js
  plugins/gatsby-source-swiftype/package.json
  plugins/gatsby-source-swiftype/src/createRelatedResourceNode.js
  plugins/gatsby-source-swiftype/src/getRelatedResources.js
  plugins/gatsby-source-swiftype/src/search.js
  plugins/gatsby-source-swiftype/src/utils/url.js
  src/data/related-pages.json
Labels: enhancement

#597 Related content in the right rail
  gatsby-node.js
  src/components/RelatedContentModules/Resources.js
  src/templates/GuideTemplate.js
Labels: enhancement

#601 Add a GitHub action that will run everyday to sync swiftype results
  .github/workflows/fetch-related-content.yml
Labels: enhancement

#603 Hide related resources for pages that are not yet indexed
  src/components/RelatedContentModules/Resources.js
Labels: bug

#604 Con guide right rail
  src/components/PageLayout/RelatedContent.js
  src/components/RelatedContentModules/Contribute.js
  src/components/RelatedContentModules/Resources.js
  src/components/RelatedContentModules/Section.js
Labels: enhancement

#605 added info on tags
  STYLE_GUIDE.md
Labels: documentation

#606 updated input text
  src/components/MobileHeader.js
  src/components/Sidebar.js
Labels: enhancement

#608 docs: match formatting in custom events guide
  src/markdown-pages/collect-data/custom-events.mdx
Labels: documentation

#607 docs: use graphql syntax highlighting for gql
  src/markdown-pages/collect-data/get-started-nerdgraph-api-explorer.mdx
Labels: documentation

#609 Styles for `iframe`s within Guides
  src/components/Iframe.js
  src/components/MDXContainer.js
  src/components/RelatedContentModules/PageUpdated.js
Labels: events

#592 Kubecon landing page
  src/components/NavigationItems.js
  src/components/NewRelicIcon.js
  src/data/sidenav.json
  src/images/kubecon-europe-2020/kubecon-europe-2020.jpg
  src/pages/kubecon-europe-2020.js
  src/pages/kubecon-europe-2020.module.scss
Labels: events

#599 Updated index.js for kubecon europe
  src/pages/index.js
Labels: events

#596 Instruqt k8s operator
  src/markdown-pages/automate-workflows/get-started-kubernetes.mdx
Labels: events

#585 added a br tag under the intro
  src/markdown-pages/explore-docs/nr1-cli.mdx
Labels: documentation

#610 added events to side nav
  src/components/FeatherIcon.js
  src/data/sidenav.json
Labels: events

#612 Attend event icon logic
  src/components/FeatherIcon.js
  src/components/NavigationItems.js
Labels: events

#619 Fix logo rendering issue in Safari
  src/components/Sidebar.js
Labels: bug

#620 Upgrade Gatsby theme to get sign up button + other goodies
  package-lock.json
  package.json
  src/components/Logo.module.scss
  src/components/RelatedContentModules/Contribute.js
  src/components/styles.scss
  src/layouts/MainLayout.js
  src/pages/developer-champion.module.scss
  src/pages/index.js
  src/pages/kubecon-europe-2020.module.scss
Labels: enhancement

#623 added vscode ext and updated component guide
  COMPONENT_GUIDE.md
  src/components/RelatedContentModules/Resources.js
  src/markdown-pages/build-apps/build-hello-world-app.mdx
  src/markdown-pages/build-apps/set-up-dev-env.mdx
  src/markdown-pages/explore-docs/nr1-cli.mdx
Labels: documentation

#628 updated guide from code review
  COMPONENT_GUIDE.md
Labels: documentation

#627 added tip component to kub page
  src/markdown-pages/automate-workflows/get-started-kubernetes.mdx
Labels: documentation

#638 Add guide for deploying New Relic with Helm charts
  src/data/sidenav.json
  src/images/kubernetes-helm-deployment/k8s-cluster-explorer.png
  src/markdown-pages/automate-workflows/kubernetes-helm-deployment.mdx
Labels: documentation

#636 added nrql lessons to page frontmatter resources
  STYLE_GUIDE.md
  src/markdown-pages/collect-data/get-started-nerdgraph-api-explorer.mdx
  src/markdown-pages/collect-data/query-data-nrql.mdx
Labels: documentation

#639 Dev docs sweep
  src/markdown-pages/build-apps/build-hello-world-app.mdx
  src/markdown-pages/collect-data/get-started-nerdgraph-api-explorer.mdx
  src/markdown-pages/collect-data/query-data-nrql.mdx
Labels: documentation

#647 Sites yaml for gastby showcase
  sites.yml
  src/screenshots/developer-home.png
Labels: dev outreach

#656 Nerd days event page
  src/pages/nerd-days.js
Labels: events

#680 added second level to events nav
  src/components/NavigationItems.js
  src/data/sidenav.json
Labels: events

#684 Developer events landing page
  src/data/sidenav.json
  src/pages/developer-events.js
Labels: events

#675 Countdown component for submissions
  src/components/Countdown/Countdown.js
  src/components/Countdown/CountdownContainer.js
  src/components/Countdown/CountdownContainer.module.scss
  src/components/Countdown/CountdownUnit.js
  src/components/Countdown/index.js
  src/pages/index.js
Labels: enhancement

#697 updated other apps to your apps
  CONTRIBUTING.md
  src/images/build-an-app/apps_catalog.png
  src/markdown-pages/build-apps/add-query-mutate-data-NerdStorage.mdx
  src/markdown-pages/build-apps/howto-use-nrone-table-components.mdx
  src/markdown-pages/build-apps/publish-deploy.mdx
Labels: documentation

#698 All things open event page
  src/data/sidenav.json
  src/images/all-things-open/allthingsopen.png
  src/images/all-things-open/gavin-johnson.jpg
  src/pages/all-things-open.js
  src/pages/all-things-open.module.scss
Labels: events, work in progress
