Repository newrelic/developer-website, pull requests merged in 2020-12, with the labels that each got.

#989 Release
  CHANGELOG.md
  package.json
  src/components/MDXContainer.js
  src/components/PageLayout/Content.js
  src/components/PageLayout/MarkdownContent.js
  src/components/PageLayout/PageLayout.js
  src/components/Sidebar.js
  src/data/sidenav.json
  src/images/create-hello-world/custom-tile.png
  src/layouts/MainLayout.js
  src/layouts/index.js
  src/markdown-pages/apis/index.mdx
  src/markdown-pages/automate-workflows/automated-tagging.mdx
  src/markdown-pages/automate-workflows/diagnose-problems/error-alerts.mdx
  src/markdown-pages/automate-workflows/diagnose-problems/high-response-times.mdx
  src/markdown-pages/automate-workflows/diagnose-problems/index.mdx
  src/markdown-pages/build-apps/build-hello-world-app.mdx
  src/templates/GuideTemplate.js
  yarn.lock
Labels: documentation

#984 chore: fixed use of old tip component
  src/markdown-pages/apis/index.mdx
  src/markdown-pages/automate-workflows/diagnose-problems/error-alerts.mdx
  src/markdown-pages/automate-workflows/diagnose-problems/index.mdx
Labels: bug

#733 Edit pass Quickly tag resources
  src/markdown-pages/automate-workflows/5-mins-tag-resources.mdx
Labels: documentation

#773 Edit pass
  src/markdown-pages/automate-workflows/get-started-new-relic-cli.mdx
  src/markdown-pages/build-apps/howto-use-nrone-table-components.mdx
Labels: documentation, work in progress

#1013 fix: updated theme
  package.json
  yarn.lock
Labels: enhancement

#1015 chore: updated readme
  README.md
Labels: documentation

#1026 chore: added stalebot config
  .github/stale.yml
Labels: automation

#1029 chore: updating pr template and contributing file
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: documentation

#1030 Charts guide
  src/data/sidenav.json
  src/markdown-pages/components/charts/area-chart.mdx
  src/markdown-pages/components/charts/bar-chart.mdx
  src/markdown-pages/components/charts/billboard-chart.mdx
  src/markdown-pages/components/charts/chart-group.mdx
  src/markdown-pages/components/charts/funnel-chart.mdx
  src/markdown-pages/components/charts/histogram-chart.mdx
  src/markdown-pages/components/charts/index.mdx
  src/markdown-pages/components/charts/json-chart.mdx
  src/markdown-pages/components/charts/line-chart.mdx
  src/markdown-pages/components/charts/pie-chart.mdx
  src/markdown-pages/components/charts/scatter-chart.mdx
  src/markdown-pages/components/charts/sparkline-chart.mdx
  src/markdown-pages/components/charts/stacked-bar-chart.mdx
  src/markdown-pages/components/charts/table-chart.mdx
  src/markdown-pages/components/heatmap-component.mdx
Labels: new guide

#1041 chore: added resource links and tags
  src/markdown-pages/components/charts/index.mdx
Labels: documentation
