Repository newrelic/developer-website, pull requests merged in 2020-06, with the labels that each got.

#347 Add the NerdGraph getting started video
  src/markdown-pages/collect-data/get-started-nerdgraph-api-explorer.mdx
Labels: documentation

#346 Add node.js note to 5 min guide, and remove observability guide
  src/data/sidenav.json
  src/markdown-pages/automate-workflows/index.mdx
  src/markdown-pages/automate-workflows/workflow-automation.mdx
  src/markdown-pages/build-apps/build-hello-world-app.mdx
Labels: documentation

#349 added marks site walkthru video
  src/pages/index.js
Labels: documentation

#357 Make API request examples match
  src/markdown-pages/collect-data/collect-data-from-any-source.mdx
Labels: documentation

#348 Center align the search input icon
  src/components/SearchInput.js
  src/components/SearchInput.module.scss
Labels: enhancement

#354 Add meta tag for swiftype type field for every page
  src/components/Seo.js
Labels: enhancement

#360 fixing link to open source site
  src/markdown-pages/explore-docs/nr1-cli.mdx
Labels: bug, documentation

#361 updated issue templates
  .github/ISSUE_TEMPLATE/bug-report---.md
  .github/ISSUE_TEMPLATE/documentation-issue.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: enhancement

#362 Add OSS banner to README
  README.md
Labels: documentation

#363 Add Google verification header for search console
  src/components/Seo.js
Labels: enhancement

#368 Page redirect change
  STYLE_GUIDE.md
  src/markdown-pages/explore-docs/intro-to-sdk.mdx
Labels: documentation
