Repository newrelic/developer-website, pull requests merged in 2020-09, with the labels that each got.

#705 Update countdown timer after CFP closes
  src/pages/index.js
Labels: events

#710 Remove CFP content
  src/pages/nerd-days.js
Labels: events

#735 Repositions sidebar to top of page
  src/layouts/MainLayout.js
Labels: bug

#723 updated component and style guide
  COMPONENT_GUIDE.md
  CONTRIBUTING.md
  STYLE_GUIDE.md
Labels: documentation

#755 Announce banner dev portal & nerd days event
  src/announcements/dev-portal-vote.mdx
  src/announcements/nerd-days-registration.mdx
Labels: enhancement

#758 Updated documentation to add "npm install"
  src/markdown-pages/build-apps/add-nerdgraphquery-guide.mdx
Labels: documentation

#752 Added missing CLI commands
  src/markdown-pages/explore-docs/nr1-cli.mdx
  src/markdown-pages/explore-docs/nr1-nerdpack.mdx
Labels: documentation

#762 Revert "Revert "Announce banner dev portal & nerd days event""
  package-lock.json
  package.json
  src/announcements/dev-portal-vote.mdx
  src/announcements/nerd-days-registration.mdx
Labels: bug, work in progress

#759 Fixing Typo for back ticks to signal quotes
  src/markdown-pages/build-apps/map-pageviews-by-region.mdx
Labels: documentation

#765 Small Fix: Update date for APJ Event
  src/pages/nerd-days.js
Labels: events

#764 Update howto-use-nrone-table-components.mdx
  src/markdown-pages/build-apps/howto-use-nrone-table-components.mdx
Labels: documentation

#767 Home video swap
  src/pages/index.js
Labels: events

#753 updated style guide to explain how to store images / video files
  STYLE_GUIDE.md
  src/markdown-pages/automate-workflows/get-started-kubernetes.mdx
Labels: documentation

#769 remove custom css font properties to allow dark mode toggle to work on text
  src/pages/nerd-days.js
  src/pages/nerd-days.module.scss
Labels: bug

#754 Edit pass: Automate tagging
  src/images/automate-helloworld/helloworld-automationdemo.png
  src/images/automate-helloworld/host-tags.png
  src/images/automate-helloworld/metadata.png
  src/markdown-pages/automate-workflows/automated-tagging.mdx
Labels: documentation, work in progress

#742 Updated emea registration
  src/pages/emea-nerd-days.js
Labels: events

#784 feat: Fix emea time in agenda
  src/pages/emea-nerd-days.js
Labels: events, work in progress
