Repository newrelic/developer-website, pull requests merged in 2020-07, with the labels that each got.

#367 Fix prop overlap issue on mobile
  src/components/PropList.module.scss
Labels: bug

#382 Fix search input overlap in hamburger menu view.
  src/components/SearchInput.module.scss
Labels: enhancement

#365 Removes edit button for component docs
  src/components/Footer.js
  src/components/GlobalHeader.js
Labels: enhancement

#387 Added API reference links to sidenav
  src/components/NavigationItems.js
  src/components/NewRelicIcon.js
  src/data/sidenav.json
Labels: enhancement

#366 Added install node.js steps to setup doc, and fixed duration
  src/markdown-pages/build-apps/set-up-dev-env.mdx
Labels: documentation

#359 Dark mode
  gatsby-config.js
  package-lock.json
  package.json
  src/components/Button.module.scss
  src/components/CallToAction.js
  src/components/CallToAction.module.scss
  src/components/Callouts.module.scss
  src/components/CodeDef/CodeDef.module.scss
  src/components/CodeSnippet.js
  src/components/CodeSnippet.module.scss
  src/components/ConstantReference.module.scss
  src/components/FeatherIcon.js
  src/components/Footer.module.scss
  src/components/GlobalHeader.js
  src/components/GlobalHeader.module.scss
  src/components/GuideListing/GuideListing.module.scss
  src/components/GuideTile/GuideTile.module.scss
  src/components/HamburgerMenu.module.scss
  src/components/IconReference.module.scss
  src/components/InlineCodeSnippet.js
  src/components/Layout.js
  src/components/Layout.module.scss
  src/components/Logo.js
  src/components/Logo.module.scss
  src/components/MDXContainer.module.scss
  src/components/Markdown.module.scss
  src/components/MethodReference.module.scss
  src/components/MobileHeader.module.scss
  src/components/NavigationItems.module.scss
  src/components/NewRelicLogo.js
  src/components/NewRelicLogo.module.scss
  src/components/PropList.module.scss
  src/components/ReferenceExample.js
  src/components/ReferenceExample.module.scss
  src/components/SearchInput.module.scss
  src/components/Section.js
  src/components/Section.module.scss
  src/components/Sidebar.module.scss
  src/components/SkewedContainer.module.scss
  src/components/Step.module.scss
  src/components/styles.scss
  src/pages/404.module.scss
  src/pages/index.js
  src/pages/index.module.scss
  src/templates/GuideTemplate.module.scss
  src/templates/OverviewTemplate.js
  src/templates/OverviewTemplate.module.scss
  src/theme.scss
Labels: enhancement

#388 fix: Reduce spacing between guide step and title
  src/components/Step.module.scss
Labels: enhancement

#390 Relocate developer champion badge on landing page
  src/pages/index.js
  src/pages/index.module.scss
Labels: enhancement

#383 Documenting Draft PR process
  CONTRIBUTING.md
Labels: documentation

#391 Add link to dev champions page from landing page
  src/pages/index.js
Labels: enhancement

#392 Remove images from bottom of developer champions page
  src/images/developer-champion/colleagues-office.jpeg
  src/images/developer-champion/team-meeting.jpg
  src/pages/developer-champion.js
Labels: enhancement

#393 Replace grainy image on developer champions page
  src/images/developer-champion/developer-champion-header.jpg
  src/images/developer-champion/developer-champions.jpg
  src/pages/developer-champion.js
Labels: enhancement

#404 Added a redirect from the previous site.
  src/markdown-pages/automate-workflows/index.mdx
Labels: documentation

#407 added a NR discuss topic to readme
  README.md
Labels: documentation

#405 Remove quotes in the local build URL
  src/markdown-pages/build-apps/build-hello-world-app.mdx
Labels: documentation

#406 Fix indentation for a code sample in the add time picker guide
  src/markdown-pages/build-apps/add-time-picker-guide.mdx
Labels: documentation

#409 Unify code blocks into a single component
  .babelrc
  COMPONENT_GUIDE.md
  package-lock.json
  package.json
  src/components/Button.js
  src/components/Button.module.scss
  src/components/CodeBlock.js
  src/components/CodeBlock.module.scss
  src/components/CodeEditor.js
  src/components/CodeEditor.module.scss
  src/components/CodeHighlight.js
  src/components/CodeHighlight.module.scss
  src/components/CodeSnippet.js
  src/components/CodeSnippet.module.scss
  src/components/InlineCodeSnippet.js
  src/components/MDXCodeBlock.js
  src/components/MDXContainer.js
  src/components/ReferenceExample.js
  src/components/styles.scss
  src/hooks/useFormattedCode.js
  src/hooks/useShallowMemo.js
  src/templates/ApiReferenceTemplate.js
  src/templates/ComponentReferenceTemplate.js
  src/utils/__tests__/array.js
  src/utils/__tests__/shallowEqual.js
  src/utils/array.js
  src/utils/shallowEqual.js
Labels: enhancement

#403 Move component overview page into component library side nav item
  src/components/NavigationItems.js
  src/data/sidenav.json
Labels: enhancement

#414 Update invalid URLs + use relative URLs relative to the root
  src/markdown-pages/explore-docs/intro-to-sdk.mdx
Labels: documentation

#411 GitHub Action to Generate Changelog
  .github/workflows/release.yml
  .releaserc
Labels: enhancement

#420 fixed typos in cli docs
  src/markdown-pages/explore-docs/nr1-cli.mdx
Labels: documentation

#421 Install needed semantic release packages
  package-lock.json
  package.json
Labels: bug

#418 Setup emotion and convert Button
  .gitignore
  gatsby-config.js
  jest-preprocess.js
  jest.config.js
  package-lock.json
  package.json
  setup-test-env.js
  src/components/Button.js
  src/components/Button.module.scss
  src/components/CodeBlock.js
  src/components/CodeBlock.module.scss
  src/components/GuideTile/Button.js
  src/components/GuideTile/GuideTile.module.scss
Labels: enhancement

#419 Last modified on each guide page
  gatsby-node.js
  src/components/Layout.module.scss
  src/templates/GuideTemplate.js
  src/templates/GuideTemplate.module.scss
Labels: enhancement

#424 chore: add jobs for generating third party manifest file
  .github/workflows/release.yml
Labels: enhancement

#428 Renaming all references of master to main
  .github/workflows/release.yml
  .releaserc
  amplify.yml
  src/components/Footer.js
  src/components/GlobalHeader.js
Labels: enhancement

#431 added a link to nerdpack layout repos
  src/components/__tests__/__snapshots__/Footer.js.snap
  src/markdown-pages/explore-docs/intro-to-sdk.mdx
Labels: documentation

#425 fixed a bad link for local dev page
  src/markdown-pages/explore-docs/nr1-cli.mdx
Labels: documentation

#440 fixed link to point to the right place
  src/markdown-pages/explore-docs/nr1-cli.mdx
Labels: documentation

#288 chore: Add badge to readme for vulnerabilities status
  README.md
Labels: enhancement

#429 Hello World: Environment setup step improvements
  src/markdown-pages/build-apps/add-nerdgraphquery-guide.mdx
  src/markdown-pages/build-apps/build-hello-world-app.mdx
Labels: documentation

#427 Image component for markdown components
  gatsby-config.js
Labels: enhancement, work in progress

#398 Time picker docs
  src/markdown-pages/build-apps/add-time-picker-guide.mdx
Labels: documentation

#372 docs: add a getting started guide for the NR k8s operator
  src/data/sidenav.json
  src/markdown-pages/automate-workflows/get-started-kubernetes.mdx
Labels: documentation, work in progress

#451 fixed broken url
  src/markdown-pages/build-apps/add-time-picker-guide.mdx
Labels: documentation

#461 Install and configure New Relic Gatsby Theme
  gatsby-config.js
  package-lock.json
  package.json
  src/components/styles.scss
  src/layouts/MainLayout.js
  src/theme.scss
Labels: enhancement

#464 Use <Button /> and <GlobalHeader /> from gatsby-theme-newrelic
  gatsby-config.js
  package-lock.json
  package.json
  src/components/Button.js
  src/components/CodeBlock.js
  src/components/CookieApprovalDialog.js
  src/components/GlobalHeader.js
  src/components/GlobalHeader.module.scss
  src/components/GuideTile/Button.js
  src/layouts/MainLayout.js
  src/pages/404.js
  src/pages/developer-champion.js
  src/pages/index.js
Labels: enhancement

#465 CLI pages for review
  src/markdown-pages/nr1-cli/nr1-config.mdx
  src/markdown-pages/nr1-cli/nr1-nerdpack.mdx
  src/markdown-pages/nr1-cli/nr1-subscription.mdx
Labels: documentation, question, work in progress

#488 Revert "CLI pages for review"
  src/markdown-pages/nr1-cli/nr1-config.mdx
  src/markdown-pages/nr1-cli/nr1-nerdpack.mdx
  src/markdown-pages/nr1-cli/nr1-subscription.mdx
Labels: documentation

#489 added the undeploy command
  src/markdown-pages/explore-docs/nr1-cli.mdx
Labels: documentation

#491 Adds Tessen Library
  gatsby-node.js
  src/components/Seo.js
  static/tessen.min-1.3.0.js
Labels: enhancement

#297 custom attribute guide - updated screen shot
  src/images/custom-attributes/custom-attribute-query.png
  src/markdown-pages/collect-data/add-custom-attributes.mdx
Labels: documentation, work in progress

#458 Podcasts page
  src/components/NavigationItems.js
  src/components/NewRelicIcon.js
  src/data/sidenav.json
  src/images/podcasts/podcasts-badge.png
  src/images/podcasts/podcasts.jpg
  src/pages/index.js
  src/pages/podcasts.js
  src/pages/podcasts.module.scss
Labels: enhancement

#500 added opensource to agent mentions
  src/markdown-pages/automate-workflows/get-started-terraform.mdx
  src/markdown-pages/collect-data/add-custom-attributes.mdx
  src/markdown-pages/collect-data/index.mdx
  src/markdown-pages/collect-data/query-data-nrql.mdx
Labels: documentation

#502 Right rail content
  gatsby-config.js
  src/components/MDXContainer.js
  src/components/MobileHeader.module.scss
  src/components/PageLayout/Content.js
  src/components/PageLayout/Context.js
  src/components/PageLayout/Header.js
  src/components/PageLayout/MarkdownContent.js
  src/components/PageLayout/PageLayout.js
  src/components/PageLayout/RelatedContent.js
  src/components/PageLayout/index.js
  src/components/PageTitle.js
  src/components/PageTitle.module.scss
  src/components/SideBySide.js
  src/components/SideBySide.module.scss
  src/hooks/usePageContext.js
  src/hooks/usePageLayout.js
  src/layouts/MainLayout.js
  src/layouts/MainLayout.module.scss
  src/pages/developer-champion.js
  src/pages/index.js
  src/pages/podcasts.js
  src/templates/ApiReferenceTemplate.js
  src/templates/ComponentReferenceTemplate.js
  src/templates/GuideTemplate.js
  src/templates/GuideTemplate.module.scss
  src/templates/OverviewTemplate.js
Labels: enhancement

#518 Tweak indexing
  package-lock.json
  package.json
  src/components/Footer.js
  src/components/MobileHeader.js
  src/components/PageLayout/RelatedContent.js
  src/components/Sidebar.js
  src/layouts/MainLayout.js
Labels: enhancement
