Repository newrelic/developer-website, pull requests merged in 2021-08, with the labels that each got.

#1529 Broken link, fixing
  src/markdown-pages/explore-docs/nerdpack-file-structure.mdx
Labels: content

#1540 feat: add data sources tab content
  src/components/quickstarts/QuickstartDataSources.js
  src/templates/QuickstartDetails.js
Labels: eng

#1503 Search o11y packs by navigating via query params
  src/pages/observability-packs.js
Labels: stale
