Repository newrelic/developer-website, pull requests merged in 2021-06, with the labels that each got.

#1334 fix: update to theme version that handles blocked cookies
  package.json
  src/data/relicansData.js
  yarn.lock
Labels: eng

#1369 chore: fixes a few bugs
  src/pages/students.js
  src/pages/students.module.scss
Labels: gatsbysites

#1376 chore: updated contributor guide
  CONTRIBUTING.md
Labels: documentation

#1427 chore: changed application to nerdpack
  src/pages/observability-packs.js
  src/templates/ObservabilityPackDetails.js
Labels: bug, sp:1
