Repository newrelic/developer-website, pull requests merged in 2021-12, with the labels that each got.

#1917 chore: replace image to have correct breadcrumb pathway from i/o
  src/images/serve-publish-subscribe/subscribe-to-account-maturity-app.png
  src/images/serve-publish-subscribe/unsubscribe-account-maturity.png
Labels: waiting on contributor

#1909 chore: edit old guide
  src/images/create-hello-world/add-app.png
  src/images/create-hello-world/apps.png
  src/images/create-hello-world/catalog-description-empty.png
  src/images/create-hello-world/click-nerdpack.png
  src/images/create-hello-world/custom-tile.png
  src/images/create-hello-world/hello-world-launcher.png
  src/images/create-hello-world/hello-world-output-local.png
  src/images/create-hello-world/launcher.png
  src/images/create-hello-world/new-catalog-stub.png
  src/images/create-hello-world/update-account.png
  src/markdown-pages/build-apps/build-hello-world-app.mdx
Labels: content

#1966 feat: NR1 deprecation guide
  src/data/nav.yml
  src/images/build-an-app/deprecation-msg.png
  src/images/build-an-app/no-deprecation-msg.png
  src/markdown-pages/build-apps/nr1-deprecations.mdx
Labels: content

#1960 chore: remove references to outlier alerts
  src/data/constants.js
  src/markdown-pages/contribute-to-quickstarts/query-alerts-for-quickstart.mdx
Labels: sp:1

#1904 feat: Add OpenTelemetry lab
  src/data/nav.yml
  src/images/opentelemetry/dt.png
  src/images/opentelemetry/metrics-explorer.png
  src/images/opentelemetry/otel-data.png
  src/images/opentelemetry/service.png
  src/images/opentelemetry/span-details.png
  src/images/opentelemetry/spans.png
  src/images/opentelemetry/trace-group.png
  src/images/opentelemetry/trace.png
  src/markdown-pages/collect-data/opentelemetry/index.mdx
  src/markdown-pages/collect-data/opentelemetry/instrument.mdx
  src/markdown-pages/collect-data/opentelemetry/set-up-env.mdx
  src/markdown-pages/collect-data/opentelemetry/view.mdx
Labels: content

#1982 chore: minor terms.mdx formatting adjustments
  src/markdown-pages/terms.mdx
Labels: documentation
