Repository newrelic/developer-website, pull requests merged in 2021-02, with the labels that each got.

#1090 chore: added banner
  src/announcements/gatsby-conf.mdx
Labels: marketing

#1113 chore:cli docs update
  src/markdown-pages/explore-docs/newrelic-cli.mdx
Labels: documentation

#1117 Release
  CHANGELOG.md
  package.json
  src/markdown-pages/explore-docs/newrelic-cli.mdx
  yarn.lock
Labels: released

#1120 chore: reorders commands
  src/markdown-pages/explore-docs/newrelic-cli.mdx
Labels: documentation

#1124 chore: referencing theme component docs
  COMPONENT_GUIDE.md
Labels: documentation

#1139 Fix: Fixed a typo and added a link to the Builders page
  src/pages/builders.js
Labels: dev relations

#1122 Add guide for custom visualizations
  src/data/sidenav.json
  src/images/build-an-app/visualization-apps-navigation.png
  src/images/build-an-app/visualization-boilerplate-files.png
  src/images/build-an-app/visualization-builder-props.png
  src/images/build-an-app/visualization-explorer-local-entry.png
  src/images/build-an-app/visualization-explorer-navigation.png
  src/markdown-pages/build-apps/build-visualization.mdx
Labels: new guide
