Repository newrelic/developer-website, pull requests merged in 2021-04, with the labels that each got.

#1220 Eslint fixes on nerlog-thank-you.s
  src/pages/nerdlog-thank-you.js
Labels: gatsbysites, sp:1

#1223 chore: adds tessen configuration
  gatsby-browser.js
  gatsby-config.js
Labels: analytics

#1197 (feat:guide) Add new custom visualization guide
  src/data/nav.yml
  src/images/build-an-app/click-add-to-dashboard.png
  src/images/build-an-app/click-app-button.png
  src/images/build-an-app/click-viz-launcher.png
  src/images/build-an-app/configure-viz.png
  src/images/build-an-app/delete-viz.png
  src/images/build-an-app/review-dashboard.png
  src/images/build-an-app/select-dashboard.png
  src/images/build-an-app/select-viz.png
  src/markdown-pages/build-apps/add-visualizations-to-dashboard.mdx
Labels: content, waiting on contributor

#1230 Update to Nerdpack permissions doc
  src/markdown-pages/build-apps/permission-manage-apps.mdx
  src/markdown-pages/build-apps/set-up-dev-env.mdx
  src/markdown-pages/explore-docs/nr1-cli.mdx
Labels: content, waiting on contributor

#1216 feat(docs): Custom viz docs
  src/data/nav.yml
  src/images/custom-viz/account-id-prop.png
  src/images/custom-viz/bool-prop.png
  src/images/custom-viz/chart-instances.png
  src/images/custom-viz/charts.png
  src/images/custom-viz/collection-prop.png
  src/images/custom-viz/configurable-props.png
  src/images/custom-viz/enum-prop.png
  src/images/custom-viz/first-viz.png
  src/images/custom-viz/json-prop.png
  src/images/custom-viz/local-viz.png
  src/images/custom-viz/namespace-prop.png
  src/images/custom-viz/nrql-prop.png
  src/images/custom-viz/number-prop.png
  src/images/custom-viz/published-viz.png
  src/images/custom-viz/string-prop.png
  src/images/custom-viz/viz-config.png
  src/markdown-pages/custom-viz/configuration-options.mdx
  src/markdown-pages/explore-docs/custom-viz.mdx
Labels: content, waiting on contributor

#1251 chore: Capitalize Nerdlet and Nerdpack
  src/markdown-pages/build-apps/create-an-ab-test-application/catalog-info.mdx
  src/markdown-pages/build-apps/create-an-ab-test-application/confirmation-modal.mdx
  src/markdown-pages/build-apps/create-an-ab-test-application/end-test.mdx
  src/markdown-pages/build-apps/create-an-ab-test-application/grid.mdx
  src/markdown-pages/build-apps/create-an-ab-test-application/nerdstoragevault.mdx
  src/markdown-pages/build-apps/create-an-ab-test-application/nrql-customizations.mdx
  src/markdown-pages/build-apps/create-an-ab-test-application/nrql.mdx
  src/markdown-pages/build-apps/create-an-ab-test-application/platform-state-context.mdx
  src/markdown-pages/build-apps/create-an-ab-test-application/publish.mdx
  src/markdown-pages/build-apps/create-an-ab-test-application/subscribe.mdx
  src/markdown-pages/build-apps/create-an-ab-test-application/table-charts.mdx
Labels: waiting on contributor

#1255 Update terrform-modules.mdx
  src/markdown-pages/terraform/terrform-modules.mdx
Labels: help wanted

#1266 Fix some issues with "Serve your nerdpack"
  src/images/serve-publish-subscribe/custom-viz.png
  src/images/serve-publish-subscribe/home.png
  src/images/serve-publish-subscribe/local-app.png
  src/images/serve-publish-subscribe/local-visualization.png
  src/images/serve-publish-subscribe/nav-to-apps.png
  src/markdown-pages/build-apps/serve-publish-subscribe/serve.mdx
Labels: documentation

#1267 chore: Clarify "view app" instructions per course review
  src/markdown-pages/build-apps/create-an-ab-test-application/chart-group.mdx
  src/markdown-pages/build-apps/create-an-ab-test-application/chart-headings.mdx
  src/markdown-pages/build-apps/create-an-ab-test-application/confirmation-modal.mdx
  src/markdown-pages/build-apps/create-an-ab-test-application/end-test.mdx
  src/markdown-pages/build-apps/create-an-ab-test-application/first-chart.mdx
  src/markdown-pages/build-apps/create-an-ab-test-application/grid.mdx
  src/markdown-pages/build-apps/create-an-ab-test-application/navigation.mdx
  src/markdown-pages/build-apps/create-an-ab-test-application/nerdstorage.mdx
  src/markdown-pages/build-apps/create-an-ab-test-application/nerdstoragevault.mdx
  src/markdown-pages/build-apps/create-an-ab-test-application/nrql-customizations.mdx
  src/markdown-pages/build-apps/create-an-ab-test-application/nrql.mdx
  src/markdown-pages/build-apps/create-an-ab-test-application/persist-selected-version.mdx
  src/markdown-pages/build-apps/create-an-ab-test-application/pie-charts.mdx
  src/markdown-pages/build-apps/create-an-ab-test-application/platform-state-context.mdx
  src/markdown-pages/build-apps/create-an-ab-test-application/table-charts.mdx
  src/markdown-pages/build-apps/create-an-ab-test-application/third-party-service.mdx
  src/markdown-pages/build-apps/create-an-ab-test-application/version-descriptions.mdx
Labels: documentation

#1276 update contribute guide
  CONTRIBUTING.md
Labels: documentation

#1275 add FutureHack event page
  src/images/futurehack/futurehack-banner.png
  src/pages/futurehack-2021.js
  src/pages/futurehack.module.scss
Labels: developer advocacy, hero

#1287 chore: Update Meet the Relicans section style
  src/pages/relicans.js
  src/pages/relicans.module.scss
Labels: dev relations
