Repository newrelic/developer-website, pull requests merged in 2021-01, with the labels that each got.

#1057 Event updates
  src/data/sidenav.json
  src/pages/developer-events.js
Labels: events

#1065 chore: fixed broken link
  src/markdown-pages/explore-docs/nr1-cli.mdx
Labels: bug, documentation

#1068 chore: added new exempt labels
  .github/stale.yml
Labels: automation

#1071 Relicans
  src/components/FeatherIcon.js
  src/components/NavigationItems.js
  src/components/NewRelicIcon.js
  src/data/sidenav.json
  src/images/relicans/aaron-bassett.jpg
  src/images/relicans/aisha-blake.jpg
  src/images/relicans/ali-finkelstein.jpg
  src/images/relicans/chris-dabatos.jpg
  src/images/relicans/daniel-kim.jpg
  src/images/relicans/danny-ramos.jpg
  src/images/relicans/jonan-scheffler.jpg
  src/images/relicans/kirk-haines.jpg
  src/images/relicans/mia-moore.jpg
  src/images/relicans/pachi-carlson.jpg
  src/images/relicans/rachael-wright-munn.jpg
  src/pages/relicans.js
  src/pages/relicans.module.scss
Labels: enhancement

#1072 feat: added Relicans nav and page to site
  .github/stale.yml
  src/components/FeatherIcon.js
  src/components/NavigationItems.js
  src/components/NewRelicIcon.js
  src/data/sidenav.json
  src/images/relicans/aaron-bassett.jpg
  src/images/relicans/aisha-blake.jpg
  src/images/relicans/ali-finkelstein.jpg
  src/images/relicans/chris-dabatos.jpg
  src/images/relicans/daniel-kim.jpg
  src/images/relicans/danny-ramos.jpg
  src/images/relicans/jonan-scheffler.jpg
  src/images/relicans/kirk-haines.jpg
  src/images/relicans/mia-moore.jpg
  src/images/relicans/pachi-carlson.jpg
  src/images/relicans/rachael-wright-munn.jpg
  src/pages/relicans.js
  src/pages/relicans.module.scss
Labels: dev outreach
