Repository newrelic/developer-website, pull requests merged in 2021-09, with the labels that each got.

#1581 Relicans update
  src/data/nerdlogData.js
  src/data/relicansData.js
  src/images/relicans/lauren-lee.jpg
  src/images/relicans/rachael-wright-munn.jpg
  yarn.lock
Labels: sp:1

#1659 Newtork Performance Monitoring lab
  src/data/nav.yml
  src/markdown-pages/collect-data/network-performance-monitoring.mdx
Labels: documentation

#1568 Apply filter to images in dark mode
  src/components/PackTile.js
Labels: estimate needed, o11y public library, readiness

#1709 Mlosier/io packdetails refresh
  src/images/ab-test/add-this-app.png
  src/images/ab-test/app-about.png
  src/images/ab-test/app-details-from-launcher.png
  src/images/ab-test/app-in-catalog.png
  src/images/ab-test/app-meta-in-catalog.png
  src/images/ab-test/dev-version.png
  src/images/ab-test/manage-access.png
  src/images/ab-test/select-launcher.png
  src/images/ab-test/your-apps.png
  src/images/build-an-app/add-victory-charts.png
  src/images/build-an-app/apps_catalog.png
  src/images/build-an-app/click-info-icon.png
  src/images/build-an-app/entity-nerdlet.png
  src/images/build-an-app/io-filter.png
  src/images/build-an-app/nav-to-apps.png
  src/images/build-an-app/nav-to-custom-viz.png
  src/images/build-an-app/victory-charts-nerdpack.png
  src/images/build-an-app/victory-charts-repo.png
  src/images/create-hello-world/catalog-description-empty.png
  src/images/serve-publish-subscribe/account-maturity-manage-access.png
  src/images/serve-publish-subscribe/account-maturity-under-your-apps.png
  src/images/serve-publish-subscribe/add-this-account-maturity-app.png
  src/images/serve-publish-subscribe/custom-viz.png
  src/images/serve-publish-subscribe/demo-app-details-icon.png
  src/images/serve-publish-subscribe/demo-app-details.png
  src/images/serve-publish-subscribe/demo-app-launcher-icon.png
  src/images/serve-publish-subscribe/demo-app-no-details.png
  src/images/serve-publish-subscribe/demo-app-tagline.png
  src/images/serve-publish-subscribe/home.png
  src/images/serve-publish-subscribe/local-app.png
  src/images/serve-publish-subscribe/nav-to-apps.png
  src/images/serve-publish-subscribe/nav-to-io.png
  src/images/serve-publish-subscribe/published-app.png
  src/images/serve-publish-subscribe/select-account-maturity-app.png
  src/markdown-pages/build-apps/add-visualizations-to-dashboard.mdx
  src/markdown-pages/build-apps/build-hello-world-app.mdx
  src/markdown-pages/build-apps/create-an-ab-test-application/publish.mdx
  src/markdown-pages/build-apps/create-an-ab-test-application/subscribe.mdx
  src/markdown-pages/build-apps/customize-open-source-visualization.mdx
  src/markdown-pages/build-apps/customize-visualizations-with-configuration.mdx
  src/markdown-pages/build-apps/serve-publish-subscribe/catalog.mdx
  src/markdown-pages/build-apps/serve-publish-subscribe/index.mdx
  src/markdown-pages/build-apps/serve-publish-subscribe/publish.mdx
  src/markdown-pages/build-apps/serve-publish-subscribe/serve.mdx
  src/markdown-pages/build-apps/serve-publish-subscribe/subscribe.mdx
Labels: waiting on contributor

#1730 Update constants.js
  src/data/constants.js
Labels: sp:2, eng
