Repository newrelic/developer-website, pull requests merged in 2022-02, with the labels that each got.

#2045 fix: update IO url across site
  package.json
  src/markdown-pages/build-apps/build-hello-world-app.mdx
  src/markdown-pages/build-apps/publish-deploy/catalog.mdx
Labels: eng

#2054 fix: typo
  src/markdown-pages/build-apps/build-react-hooks-app.mdx
Labels: documentation

#2041 feat: components for requirements and objectives
  src/components/FlexWrapper.js
  src/components/MDXContainer.js
  src/components/Objectives.js
  src/components/Requirements.js
  src/markdown-pages/automate-workflows/diagnose-problems/index.mdx
  src/markdown-pages/automate-workflows/error-inbox/index.mdx
  src/markdown-pages/collect-data/opentelemetry/index.mdx
  src/markdown-pages/collect-data/pixie/index.mdx
Labels: in-review
